body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

section {
  float: left;
  width: 100%;
  padding: 50px 0px;
}

footer {
  text-align: center;
  margin-top: 2rem;
  background-color: #5e35b1;
  color: #ffffff;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.container {
  width: 80%;
  margin: 0px auto;
}

/********** LANDING/HOME PAGE ************/

.navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: #5e35b1;
  top: 0;
}

.navbar div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.navbar div.logo a {
  text-decoration: none;
}

.navbar div.logo a:hover {
  color: #ffffff;
}

.navbar div.auth_buttons {
  height: 65px;
  float: right;
}

.navlinks {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 3rem;
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #ffff !important;
  padding-left: 10px !important;
}

.login-btn,
.register-btn {
  float: right;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  border: 1px solid #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}

.login-btn:hover,
.register-btn:hover {
  color: #5e35b1;
  background-color: #ffffff;
  text-decoration: none;
}

.content-image {
  height: 50%;
  width: 100%;
  align-self: center;
  margin-bottom: 15px;
}

.content-container {
  justify-content: center;
}

.content-description {
  color: #2979ff;
  display: flex;
  justify-content: space-evenly;
}

.description-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #2979ff;
  font-weight: bolder;
}

.works-header {
  margin-top: 10px;
  font-weight: bold;
}

.works-body {
  font-weight: 500;
  font-size: 12px;
}

.pol {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  justify-content: center;
}

.works-icon {
  width: 80px;
  height: 80px;
  align-self: center;
}

/*** Auth Pages ***/

.auth-navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: #5e35b1;
  top: 0;
}

.auth-navbar div.logo {
  float: center;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.auth-navbar div.logo a {
  text-decoration: none;
}

.auth-navbar div.logo a:hover {
  color: #ffffff;
}

.login-page {
  background: #f3e5f5;
  float: left;
  width: 100%;
  padding: 84px 0px;
}

.welcome-text {
  float: left;
}

.welcome-text-style h1 {
  color: #2979ff;
  font-family: "Pacifico", cursive;
  font-size: 75px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: -15px;
}

.welcome-text-style h2 {
  font-size: 45px;
}

.welcome-text-style p {
  margin: 0px;
  font-weight: 200;
  font-size: 115%;
  text-transform: capitalize;
}

.login-card {
  float: right;
  width: 389px;
  box-shadow: 1px 2px 5px 3px #d2cbcb;
  padding-bottom: 30px;
  background: white;
}

.login-card-header {
  color: #2979ff;
  text-align: center;
  font-weight: bolder;
}

.myform-login,
.myform-signup {
  width: 100%;
  display: grid;
  justify-content: center;
}

#main-modal {
  display: none;
  margin: 20px 0px;
}
#main-modal-content {
  width: 50%;
  margin: auto;
  padding: 10px 10px;
  background: #f17878;
  color: white;
}

#display-para p {
  margin: 0px;
}
#closeBtn {
  float: right;
}

.login-form,
.signup-form {
  width: 100%;
  display: grid;
  justify-content: center;
}

.forgot-password {
  margin-bottom: 20px;
}
.forgot-password a,
.signup-link a {
  color: #5b985b;
}
.input-field-button {
  margin: 10px 0px;
}

input[type="text"],
input[type="password"] {
  width: 341px;
  height: 50px;
  margin-bottom: 26px;
  border: none;
  background: #f1efef;
  padding-left: 15px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
input[type="submit"] {
  width: 150px;
  height: 40px;
  border-radius: 35px;
  border: none;
  color: white;
  background: #5e35b1;
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 1069px) {
  .support-col {
    display: none;
  }
  .signup-page {
    padding: 25px 0px !important;
  }
  .login-card {
    width: 91%;
    display: grid;
    justify-content: center;
    padding-bottom: 6px;
    margin-top: 15px;
  }
  .signup-card {
    padding: 0px 10px !important;
  }
  .form {
    display: grid;
    width: 100%;
    justify-content: center;
  }
  input[type="text"],
  input[type="password"] {
    width: 198px;
    height: 35px;
    margin-bottom: 13px;
    border: none;
    background: whitesmoke;
    outline: none;
  }
  input[type="submit"] {
    width: 101px;
    height: 26px;
    margin: auto;
    display: block;
    font-size: 16px;
  }
  .forgot-password a,
  .signup-link a,
  .signup-link p {
    font-size: 14px;
  }
}
